<div class="main-contentx">


  <ul style="position: relative;align-items: flex-end;margin: 0;    list-style: none;">
<li class="active" style="border-bottom: 1px solid #e5e5e5;    background-color: #fff;       width: 30%;display: block;
letter-spacing: 0.075e;text-align: center;    padding: 10px 5px;font-size: 14px;font-weight: bold;color: #8c8d93;">
    <a>KASKO PARKAI <span class=""></span></a>
</li>
</ul>


  <div class="card">
  <p-toolbar *ngIf="blankScreen == true"> 
    <div class="p-toolbar-group-left">
      <p-button
        label="Naujas parko dok."
        icon="pi pi-plus"
        iconPos="left"
        (click)="page = 'new-fleet';blankScreen = true;"
        styleClass="p-button-secondary p-m-1 btn p-button-sm"
      ></p-button>
      <p-button
      label="Skaičiuoti drausmingumą"
      icon="pi pi-shield"
      iconPos="left"
      (click)="page = 'new-fleet';blankScreen = true;"
      styleClass="p-button-secondary p-m-1 btn p-button-sm"
    ></p-button>
      <p-button
        label="Paieška"
        icon="pi pi-search"
        iconPos="left"
        (click)="page = 'open-fleet';SearchResults = false;blankScreen = true;"
        styleClass="p-button-secondary p-m-1 btn p-button-sm"
      ></p-button>
    </div>  
  </p-toolbar>
</div>

<div class="card">
<div *ngIf="page == 'fleet'">
  <app-fleet-info></app-fleet-info> 
</div>
</div>
<div class="card">
<div *ngIf="page == 'open-fleet'">
  
  
<p-tabView>

<p-tabPanel header="Atidaryti parko draudimą">

  <div class="p-fluid">
    <div class="p-field p-grid">
      <label for="firstname4" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"
        >Sutarties numeris</label
      >
      <div class="p-col-12 p-md-10">
        <input
          id="firstname4"
          type="text"
          pInputText
          
          value=""
          style="width:400px"
        />
      </div>
    </div>

    <div class="p-field p-grid">
    <label for="firstname4" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"
      >Draudėjas</label
    >
    <div class="p-col-12 p-md-10">
      <input
        id="firstname4"
        type="text"
        pInputText
        value=""
        style="width:400px"
      />
    </div>
  </div>
  <div class="p-field p-grid">
  <label for="firstname4" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"
    >Draudėjo kodas</label
  >
  <div class="p-col-12 p-md-10">
    <input
      id="firstname4"
      type="text"
      pInputText
      value=""
      style="width:400px"
    />
  </div>
</div>
<div class="p-field p-grid">
<label for="firstname4" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"
  >Valstybinis numeris</label
>
<div class="p-col-12 p-md-10">
  <input
    id="firstname4"
    type="text"
    pInputText
    value="ABC123"
    style="width:400px"
  />
</div>
</div>


    <div class="p-field p-grid">
      <label for="lastname4" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"
      ></label>

      <div class="p-col-12 p-md-3">
      
        <p-button
        label="ieškoti"
        styleClass="p-button-success p-m-1 p-pt-0 p-pb-0  btn p-button-sm"
        (click)="SearchResults = true;"
        diasbled
      ></p-button>     </div>
      <div class="p-col-6 p-md-2"></div>
    </div>

<div *ngIf="SearchResults">


<p-table
[value]="fleet"
sortField="issueDate"
sortMode="single"
styleClass="p-datatable-gridline p-datatable-sm"
>
<ng-template pTemplate="header">
  <tr>
    <th style="width:240px">Sutarties numeris</th>
    <th style="width:100px">Galioja nuo</th>
    <th style="width:100px">Galioja iki</th>
    <th style="min-width:250px">Draudėjas</th>
    <th style="min-width:200px">Draudėjo kodas</th>
    <th style="min-width:150px">Objektų kiekis / Galiojančių objektų</th>
    <th></th>
  </tr>
</ng-template>

<ng-template pTemplate="body" let-fleet let-rowIndex="rowIndex">
  <tr>
    <td style="width:240px">
      {{ fleet.number }}
    </td>
    <td style="width:100px">
      {{ fleet.startDate }}
    </td>
    <td style="width:100px">
      <span>{{fleet.endDate }}</span>
    </td>
    <td style="min-width:200px">
      {{ fleet.policyholder }}
    </td>
    <td style="min-width:200px">
    {{ fleet.policyholderCode }}
  </td>
  <td style="min-width:200px">
  {{ fleet.numberOfObjects }} / {{ fleet.numberOfCurrentObjects }} 
</td>
<td style="min-width:200px">
<p-button
      label="Atidaryti"
      icon="pi pi-folder-open"
      iconPos="left"
      styleClass="p-button-success p-m-1 p-pt-0 p-pb-0  btn p-button-sm"
      (click)="page = 'fleet'"
    ></p-button>
</td>
  </tr>
</ng-template>
</p-table>




  </div>
  </div>


</p-tabPanel>
</p-tabView>

  </div>
</div>
<div class="card">

  <div *ngIf="page == 'new-fleet'">
    <app-new-fleet></app-new-fleet>
  </div>
</div>
</div>
